body{
    margin: 50px;
    
}
img{
 
    margin-left: 25%;


}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rosybrown;
    text-align: center;
    letter-spacing: 5px;
    
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    border: red solid 3px;
}
p{
    line-height: 2;
    font-family: 'Courier New', Courier, monospace;
    
} 
section{
    
    padding: 100px;

}